<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.cdutet.mapper.EchartsMapper">


    <select id="getAll" resultType="edu.cdutet.entity.Grade">
        SELECT point,count(*) num from grade GROUP BY point

</select>
</mapper>